ul li {
    display: inline-block;
    border: 4px #043627;
    padding: 30px 30px 30px 30px;
    width: 200px;
    list-style-type: none;
    text-align: center;
    margin-top: 0;
    margin-left: 10px;
        
}