nav ul  {
    display: inline-block;
    padding: 10px 10px 10px 10px;
   }
nav li {
    display: inline-block;
    border: 4px #043627;    
    list-style-type: none;
    text-align: center;
    margin-top: 0;
    margin-left: none;
    }
nav a: hover
{ background-color: white; }

nav ul {
    display: flex;
}
nav li 
    {display: flex;
    justify-content: flex-start;
    flex: 1 1 0;}