nav ul {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
    list-style-type: none;
    background-color: blue;
}
/*nav ul li {
    display: inline-block;
    border: 4px #043627;    
    list-style-type: none;
    text-align: center;
    margin-top: 0;
    margin-left: none;
    justify-content: space-evenly;
    flex: 1 1 0;
    }
nav ul li a: hover
{ background-color: white; }*/