ul li {
    display: inline-block;
    border: 4px #043627;
    padding: 10px 10px 10px 10px;
    width: 100px;
    list-style-type: none;
    text-align: center;
    margin-top: 0;
    margin-left: none;
        
}