h1{color: #006666; border-style: solid; border-color:#700031;}
h3{color: #700031;}
body{background-color: #ffd9d8;}
img{50%;}

/*tablet portrait*/
@media only screen and (max-width: 959px) {
    h1 {
        font-size: 120%;
    }
    h3 {
        font-size: 120%;
    }
    p {
    font-size: 120%;
    }
}
/*mobile portrait*/
@media only screen and (max-width: 479px) {
    h1 {
        font-size: 150%;
    }
    h3 {
        font-size: 150%;
    }
    p {
    font-size: 150%;
    }
}